<a href="https://colab.research.google.com/github/bl00p1ng/Curso-analisis-de-datos-con-Pandas-y-Python/blob/main/datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso de Manipulaci√≥n y An√°lisis de Datos con Pandas y Python

## üìö M√≥dulo 2. Funcionalidades b√°sicas y esenciales de pandas

### Clase 9. Tipos de Variables que componen un DataFrame

Actualizar Pandas

In [ ]:
!pip install --upgrade pandas

Conectar a Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

Posicionarse en la carpeta con el Data Set

In [4]:
%cd '/content/drive/MyDrive/Colab Notebooks/Curso-Pandas-y-Python/db'
!ls

/content/drive/MyDrive/Colab Notebooks/Curso-Pandas-y-Python/db
Meteorite_Landings.csv	test.hdf   test.parquet  test.xlsx
test.csv		test.json  test.pkl

Importar Pandas

In [5]:
import pandas as pd
pd.__version__

'1.2.4'

## An√°lisis

`head()` y `tail()` son m√©todos que permiten ver las filas en un DataFrame que est√°n al principio y al final respectivamente. POr defecto muestran 5 filas, pero eso se puede modificar pasandole al m√©todo el n√∫mero de filas que se quieren mostrar como par√°metro.

`sample()` extrae una muestra del Data Set con filas elegidas de forma aleatoria. El n√∫mero de filas que se quiere obtener se puede especificar como un par√°metro.

In [8]:
df_meteorites = pd.read_csv('Meteorite_Landings.csv')
df_meteorites.head()

       name   id nametype  ...    reclat    reclong           GeoLocation
0    Aachen    1    Valid  ...  50.77500    6.08333     (50.775, 6.08333)
1    Aarhus    2    Valid  ...  56.18333   10.23333  (56.18333, 10.23333)
2      Abee    6    Valid  ...  54.21667 -113.00000    (54.21667, -113.0)
3  Acapulco   10    Valid  ...  16.88333  -99.90000     (16.88333, -99.9)
4   Achiras  370    Valid  ... -33.16667  -64.95000   (-33.16667, -64.95)

[5 rows x 10 columns]

`shape` muestra el n√∫mero de filas y columnas que tiene el DataFrame

In [9]:
df_meteorites.shape

(45716, 10)

`size` muestra la cantidad total de registros quen componen el DataFrame

In [10]:
df_meteorites.size

457160

`describe()` muestra cualidades estad√≠sticas de las variables num√©ricas de la base de datos

In [14]:
# Quitar la notaci√≥n cient√≠fica
pd.options.display.float_format = '{:,.1f}'.format

df_meteorites.describe()

            id     mass (g)   reclat  reclong
count 45,716.0     45,585.0 38,401.0 38,401.0
mean  26,889.7     13,278.1    -39.1     61.1
std   16,860.7    574,988.9     46.4     80.6
min        1.0          0.0    -87.4   -165.4
25%   12,688.8          7.2    -76.7      0.0
50%   24,261.5         32.6    -71.5     35.7
75%   40,656.8        202.6      0.0    157.2
max   57,458.0 60,000,000.0     81.2    354.5

El par√°metro `include='all'` indica que no s√≥lo se analicen las variables num√©ricas sino tambi√©n las que son de tipo texto.

In [15]:
df_meteorites.describe(include='all')

                     name       id nametype  ...   reclat  reclong GeoLocation
count               45716 45,716.0    45716  ... 38,401.0 38,401.0       38401
unique              45716      NaN        2  ...      NaN      NaN       17100
top     Lewis Cliff 88743      NaN    Valid  ...      NaN      NaN  (0.0, 0.0)
freq                    1      NaN    45641  ...      NaN      NaN        6214
mean                  NaN 26,889.7      NaN  ...    -39.1     61.1         NaN
std                   NaN 16,860.7      NaN  ...     46.4     80.6         NaN
min                   NaN      1.0      NaN  ...    -87.4   -165.4         NaN
25%                   NaN 12,688.8      NaN  ...    -76.7      0.0         NaN
50%                   NaN 24,261.5      NaN  ...    -71.5     35.7         NaN
75%                   NaN 40,656.8      NaN  ...      0.0    157.2         NaN
max                   NaN 57,458.0      NaN  ...     81.2    354.5         NaN

[11 rows x 10 columns]

`info()` muestra como est√°n compuestas las categorias dentro del DataFrame. Por ejemplo muestra el tipo de dato de cada categor√≠a y cuantas variables no nulas hay

In [16]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

`dtypes` muestra el tipo de dato de cada columna del DataFrame

In [17]:
df_meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

`convert_dtypes()` es un m√©tdo disponible a partir de Pandas 1.0. Lo que hace es cambiar el tipo de dato de las columnnas por el que Pandas considere m√°s apropiado

In [18]:
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       Float64
fall            string
year            string
reclat         Float64
reclong        Float64
GeoLocation     string
dtype: object