<a href="https://colab.research.google.com/github/bl00p1ng/Curso-analisis-de-datos-con-Pandas-y-Python/blob/main/functions_and_lambdas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso de Manipulaci칩n y An치lisis de Datos con Pandas y Python

## 游닄 M칩dulo 3. Aplicando Pandas

### Clase 13. Funciones m치s complejas y lambdas

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
%cd '/content/drive/MyDrive/Colab Notebooks/Curso-Pandas-y-Python/db'
!ls

/content/drive/MyDrive/Colab Notebooks/Curso-Pandas-y-Python/db
london_merged.csv	test.csv  test.json	test.pkl
Meteorite_Landings.csv	test.hdf  test.parquet	test.xlsx

In [3]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [4]:
df_lmerged = pd.read_csv('london_merged.csv')
df_lmerged.head()

             timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0  2015-01-04 00:00:00  182  3.0  ...         0.0         1.0     3.0
1  2015-01-04 01:00:00  138  3.0  ...         0.0         1.0     3.0
2  2015-01-04 02:00:00  134  2.5  ...         0.0         1.0     3.0
3  2015-01-04 03:00:00   72  2.0  ...         0.0         1.0     3.0
4  2015-01-04 04:00:00   47  2.0  ...         0.0         1.0     3.0

[5 rows x 10 columns]

In [5]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])
df_lmerged['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

In [6]:
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [7]:
df = df_lmerged.iloc[:, 1:]
df.head()

   cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hour
0  182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1  138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2  134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3   72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4   47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4

[5 rows x 10 columns]

#### Funciones

In [8]:
def fun_1(x):
    y = x**2 + 1
    return y

In [9]:
fun_1(10)

101

In [10]:
x = np.arange(-5, 6)
x

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [11]:
fun_1(x)

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

Para aplicar una funci칩n a un DataFrame se usa el m칠todo `apply()`

In [12]:
df['hour'].apply(fun_1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

#### Trabajando con Funciones m치s complejas

In [13]:
def func_2(x, a=1, b=0):
    y = x**2 + a * x + b
    return y

Aqu칤 se sustituyen los valores predeterminados de los par치metros `a` y `b`

In [14]:
func_2(10, a=20, b=100)

400

Si se quiere aplicar la funci칩n `func_2()` a un DataFrame los par치metros `a` y `b` se pueden especificar usando `args` que recibe una tupla con los valores de dichos par치metros:

In [15]:
df['hour'].apply(func_2, args=(20, 100))

0         100
1         121
2         144
3         169
4         196
         ...
17409     841
17410     900
17411     961
17412    1024
17413    1089
Name: hour, Length: 17414, dtype: int64

Otra forma ser칤a darle un valor a `a` y `b` directamente dentro de `apply()`:

In [16]:
df['hour'].apply(func_2, a=20, b=100)

0         100
1         121
2         144
3         169
4         196
         ...
17409     841
17410     900
17411     961
17412    1024
17413    1089
Name: hour, Length: 17414, dtype: int64

#### Lambdas

In [17]:
# Cambiar temperatura a grados kelvin
df['t1'].apply(lambda x: x + 273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

Tambi칠n se pueden aplicar funciones `lambda` a todo el DataFrame.

En el siguiente ejemplo se saca el promedio de cada una de las **columnas**:

In [18]:
df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

Para aplicar una lamba a todas las **filas** hay que usar el par치metro `axis=1`

In [19]:
df.apply(lambda x: x.mean(), axis=1)

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

Tambi칠n se pueden hacer operaciones entre columnas usando funciones `lambda`:

In [20]:
df.apply(lambda x: x['t1'] - x['t2'], axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

Si se quiere aplicar un mismo cambio a todo el DataFrame se puede usar `applymap()`. Lo que hace este m칠todo es ejecutar una funci칩n entre todos los valores de forma independiente.

In [21]:
df.applymap(lambda x: x / 1000).head()

     cnt      t1      t2     hum  ...  is_holiday  is_weekend  season   hour
0  0.182  0.0030  0.0020  0.0930  ...         0.0       0.001   0.003  0.000
1  0.138  0.0030  0.0025  0.0930  ...         0.0       0.001   0.003  0.001
2  0.134  0.0025  0.0025  0.0965  ...         0.0       0.001   0.003  0.002
3  0.072  0.0020  0.0020  0.1000  ...         0.0       0.001   0.003  0.003
4  0.047  0.0020  0.0000  0.0930  ...         0.0       0.001   0.003  0.004

[5 rows x 10 columns]