<a href="https://colab.research.google.com/github/bl00p1ng/Curso-analisis-de-datos-con-Pandas-y-Python/blob/main/maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso de Manipulaci√≥n y An√°lisis de Datos con Pandas y Python

## üìö M√≥dulo 3. Aplicando Pandas

### Clase 12. Funciones matem√°ticas

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd '/content/drive/MyDrive/Colab Notebooks/Curso-Pandas-y-Python/db'
!ls

/content/drive/MyDrive/Colab Notebooks/Curso-Pandas-y-Python/db
london_merged.csv	test.csv  test.json	test.pkl
Meteorite_Landings.csv	test.hdf  test.parquet	test.xlsx

In [4]:
import pandas as pd
import numpy as np

pd.__version__

'1.1.5'

Importar el DataSet

In [5]:
df_lmerged = pd.read_csv('london_merged.csv')
df_lmerged.head()

             timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0  2015-01-04 00:00:00  182  3.0  ...         0.0         1.0     3.0
1  2015-01-04 01:00:00  138  3.0  ...         0.0         1.0     3.0
2  2015-01-04 02:00:00  134  2.5  ...         0.0         1.0     3.0
3  2015-01-04 03:00:00   72  2.0  ...         0.0         1.0     3.0
4  2015-01-04 04:00:00   47  2.0  ...         0.0         1.0     3.0

[5 rows x 10 columns]

In [6]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

Cuando el formato de la fecha no es muy complejo, Pandas es capaz de convertir la fecha sin especificar un formato

In [7]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])
df_lmerged['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

Cuando una columna es de tipo tiempo se puede acceder a propiedades como `hour` que contiene la hora definida en la variable de tipo tiempo

In [8]:
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

#### Crear una columna con s√≥lo datos num√©ricos

`iloc` permite hacer una selecci√≥n de b√°sada en posiciones enteras, tambi√©n admite el uso de _slices_. 

En otras palabras `iloc` permite seleccionar posiciones de un DataFrame en base a su √≠ndice num√©rico. El primer par√°metro representa las filas y el segundo las columnas.

Dicha selecci√≥n puede guardarse en una variable.

[Documentaci√≥n iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html)

In [9]:
df = df_lmerged.iloc[:, 1:]
df.head()

   cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hour
0  182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1  138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2  134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3   72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4   47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4

[5 rows x 10 columns]

#### Operaciones matem√°ticas sobre un DaraFrame

##### ‚òë Potenciaci√≥n

Se pueden potenciar todos los valores num√©ricos de un DataFrame o s√≥lo los valores de una columna especifica

In [10]:
df['wind_speed']**2

0         36.00
1         25.00
2          0.00
3          0.00
4         42.25
          ...
17409    361.00
17410    441.00
17411    576.00
17412    529.00
17413    484.00
Name: wind_speed, Length: 17414, dtype: float64

##### ‚òë Suma

In [11]:
df['wind_speed'] + 100

0        106.0
1        105.0
2        100.0
3        100.0
4        106.5
         ...
17409    119.0
17410    121.0
17411    124.0
17412    123.0
17413    122.0
Name: wind_speed, Length: 17414, dtype: float64

Tambi√©n es posible aplicar funciones matem√°ticas como el _seno_

In [12]:
np.sin(df['wind_speed'])

0       -0.279415
1       -0.958924
2        0.000000
3        0.000000
4        0.215120
           ...
17409    0.149877
17410    0.836656
17411   -0.905578
17412   -0.846220
17413   -0.008851
Name: wind_speed, Length: 17414, dtype: float64

Se pueden hacer operaciones matem√°ticas entre columnas. 

Por ejemplo se puede encontrar la diferencia entre la temperatura real y la sensaci√≥n t√©rmica:

In [13]:
df['t1'] - df['t2']

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

Adem√°s de los operadores aritm√©ticos, Pandas tambi√©n dispone de una serie de funciones para realizar operaciones matem√°ticas. Estas funciones tienen la ventaja de que al trabajar con valores nulos se puede definir un valor por defecto diferente de `NaN`, esto se hace con el par√°metro `fill_value`

Los m√©todos disponibles para efectuar operaciones matem√°ticas son:

```
+    add()
-    sub(), subtract()
*    mul(), multiply()
/    truediv(), div(), divide()
//   floordiv()
%    mod()
**   pow()
```

In [14]:
# Usando el operador de resta
df['t1'].iloc[::3] - df['t2']

0        1.0
1        NaN
2        NaN
3        0.0
4        NaN
        ...
17409    4.0
17410    NaN
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

In [15]:
# Usando el m√©todo sub()
df['t1'].iloc[::3].sub(df['t2'], fill_value=0)

0        1.0
1       -2.5
2       -2.5
3        0.0
4        0.0
        ...
17409    4.0
17410   -1.0
17411   -1.5
17412    4.0
17413   -1.0
Length: 17414, dtype: float64

Pandas tambi√©n cuenta con propiedades de **√°lgebra l√≠neal** como por ejemplo el _Producto Punto_:

In [16]:
df['t1'].dot(df['t1'])

3247652.777777778