<a href="https://colab.research.google.com/github/bl00p1ng/Curso-analisis-de-datos-con-Pandas-y-Python/blob/main/save_and_load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso de Manipulaci칩n y An치lisis de Datos con Pandas y Python

## 游닄 M칩dulo 1. Comenzando con pandas

### Clase 5. Indexado y manejo de archivos CSV

In [1]:
# Acceder a Google Drive desde Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
copyFolders.ipynb      curvas_de_nivel.ipynb
Curso-Pandas-y-Python  manipular_funciones.ipynb

In [ ]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/Curso-Pandas-y-Python/db

In [4]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Curso-Pandas-y-Python/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/Curso-Pandas-y-Python/db/test.csv'

In [5]:
import pandas as pd
import numpy as np

pd.__version__

'1.1.5'

In [6]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [7]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

#### Trabajar con archivos CSV

**Exportar DataFrame como csv:**

Esto se hace usando el m칠todo `to_csv()` que recibe por par치metro el path donde se va a guardar el archivo csv.

Por defecto el csv tendr치 una columna con los 칤ndices de cada fila, si no se quiere dicha columna se puede usar el par치metro `index = False`

Los archivos csv como su nombre lo 칤ndica est치n separados por comas, no obstante esto se puede cambiar agregando el par치metro `sep=''`. El car치cter que se ponga en el interior de este par치metro ser치 usado para separar los valores en el archivo csv. Al hacer esto es importante agregar este mismo par치metro al leer el archivo para que Pandas pueda mostrar el archivo correctamente.

In [8]:
df.to_csv(dir_pandas, index = False)

In [9]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/Curso-Pandas-y-Python/db

test.csv

**Leer archivos csv:**

Esto se hace usando el m칠todo `read_csv()` de Pandas. Este m칠todo recibe por par치metro el path del archivo csv que se quiere leer.

In [10]:
df_read = pd.read_csv(dir_pandas)
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [11]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Curso-Pandas-y-Python/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/Curso-Pandas-y-Python/db/{}'

#### Trabajar con archivos XLSX

**Exportar a un archivo de Excel:**

`sheet_name='Hoja_1'` Establece el nombre que va a tener el nombre de la hoja.

In [16]:
df.to_excel(dir_pandas.format('test.xlsx'), index=False, sheet_name='Hoja_1')

**Leer un archivo de Excel:**

In [15]:
pd.read_excel(dir_pandas.format('test.xlsx'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

#### Trabajar con archivos JSON

JSON es un formato muy com칰n al trabajar con APIs

**Exportar DataFrame a JSON:**

In [17]:
df.to_json(dir_pandas.format('test.json'))

**Leer un archivo de JSON:**

In [18]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

#### Trabajar usando el formato Pickle

Este formato permite guardar los datos en un archivo comprimido. Es 칰til a la hora de trabajar con bases de datos de tama침o mediano o grande.

**Exportar DataFrame a formato Pickle:**

In [19]:
df.to_pickle(dir_pandas.format('test.pkl'))

**Leer un archivo pkl:**

In [20]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

#### Trabajar con el formato Parquet

Es un formato muy usado en el campo del Big Data.

**Exportar DataFrame a formato Parquet:**

In [21]:
df.to_parquet(dir_pandas.format('test.parquet'))

**Leer un archivo Parquet**

In [22]:
pd.read_parquet(dir_pandas.format('test.parquet'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

#### Trabajar con archivos HDF

Es un formato muy usado con Hadoop en ambientes de Big Data

**Exportar DataFrame a HDF:**

In [24]:
df.to_hdf(dir_pandas.format('test.hdf'), key='data', format='table')

**Leer un archivo HDF:**

In [25]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9